<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo-container">
            <img src="./assets/icons/NNIcon.png" alt="nnlogo">
            <h1>Codepal</h1>
        </div>
        <div class="search-container">
            <input type="search" name="" id="">
        </div>
        <div class="logo-container githubIcon">
            <img src="./assets/icons/githubIcon.png" alt="githubIcon">
        </div>
    </nav>
</body>

</html>