@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1d4041;
    text-align: center;
    color: #212121;
}

#main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: radial-gradient(92.82% 58.5% at 65.55% 44.29%, rgba(18, 17, 17, 0.807) 0%, rgba(3, 3, 3, 0.922) 100%), #c2e5cc;
}

nav a {
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: flex;
    width: 94%;
    border-radius: 25px;
    background: #EB6F3B;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em 2em;
    margin: 1em auto;
}

nav .logo-container>img {
    width: 100%;
    max-width: 50px;
    height: auto;
}

nav .logo-container {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    gap: 1em;
    color: white;
    height: 5em;
}

nav .search-container {
    flex: 1;
    max-width: 450px;
}

nav .search-container input {
    width: 100%;
    padding: 0.6em 0.8em;
    border-radius: 30px;
    background: #FBFBFF;
    border: none;
    outline: none;
}

nav .githubIcon {
    height: 75%;
}

#Allcards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: max(50px, 3%) auto;
    max-width: 1000px;
}

.MainPagecard:hover {
    box-shadow: 6px 0.55px 18px -3px rgba(101, 101, 101, 0.608);
    transform: scale(1.1);
}

.MainPagecard {
    display: flex;
    flex-direction: column;
    width: min(80vw, 300px);
    padding: 2em;
    border-radius: 12px;
    border: 1px solid rgba(34, 34, 34, 0.25);
    background: #FFF;
    gap: 1em;
    transition: 0.5s;
    cursor: pointer;
}

.MainPagecard p {
    width: 75%;
    margin: auto;
    opacity: 0.6;
}

@media only screen and (max-width: 520px) {
    nav .search-container {
        display: none;
    }

    #Allcards {
        justify-content: center;
    }
}