@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular';
}

body {
    background: #ECECFF;
    text-align: center;
    color: #212121;
}

#main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: radial-gradient(92.82% 58.5% at 65.55% 44.29%, rgba(255, 227, 218, 0.50) 0%, rgba(255, 252, 252, 0.85) 100%), #F2F9F4;
}

nav a {
    all: unset;
    cursor: pointer;
}

nav {
    display: flex;
    width: 94%;
    border-radius: 25px;
    background: #EB6F3B;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em 2em;
    margin-inline: auto;
    margin-top: 1em;
}

nav .logo-container>img {
    width: 100%;
    aspect-ratio: 1;
}

nav .logo-container {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    gap: 1em;
    color: white;
    height: 5em;
    aspect-ratio: 1;
}

nav .search-container {
    width: min(40%, 450px);
}

nav .search-container input {
    all: unset;
    width: 100%;
    padding: 0.6em 0.8em;
    border-radius: 30px;
    background: #FBFBFF;
}

nav .githubIcon {
    height: 75%;
}

#Allcards {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    gap: 1em;
    margin-top: max(50px, 3%);
    width: min(95vw, 1000px);
    margin-inline: auto;
}

.MainPagecard:hover {
    box-shadow: 6px 0.55px 18px -3px rgba(101, 101, 101, 0.608);
}

.MainPagecard {
    display: flex;
    flex-direction: column;
    width: min(80vw, 300px);
    padding: 2em;
    border-radius: 12px;
    border: 1px solid rgba(34, 34, 34, 0.25);
    background: #FFF;
    gap: 1em;
    transition: 0.5s;
    cursor: pointer;
}

.MainPagecard p {
    width: 75%;
    margin: auto;
    opacity: 0.6;
}

@media only screen and (max-width : 520px) {

    nav .search-container {
        display: none;
    }

    #Allcards {
        justify-content: center;
    }

}