@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root 
{
    --background-60: #282A36;
    --surface-30: #44475A; 
    --primary: #BD93F9; 
    --lifted: #44475A;
    --surface-black: #121212; 

}
body {
    background: var(--background-60);
    text-align: center;
    color: #121212;
}

#main::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background: radial-gradient(92.82% 58.5% at 65.55% 44.29%, #44475A 0%, var(--background-60) 100%), #c2e5cc;
}

nav a {
    text-decoration: none;
    cursor: pointer;
}

nav {
    display: flex;
    width: 94%;
    height: 64px; 
    border-radius: 25px;
    background: var(--lifted);
    align-items: center;
    justify-content: space-between;
    padding: 0.1em 2em;
    margin: 1em auto;
}

nav .logo-container>img {
    width: 100%;
    max-width: 50px;
    height: 48px;
}

nav .logo-container {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    gap: 1em;
    color: white;
    height: 5em;
}

nav .search-container {
    flex: 1;
    max-width: 450px;
}

nav .search-container input {
    width: 100%;
    padding: 0.6em 0.8em;
    border-radius: 30px;
    background: #FBFBFF;
    border: none;
    outline: none;
}

nav .githubIcon {
    height: 48px;
}

#Allcards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: max(50px, 3%) auto;
    max-width: 1000px;
}

.MainPagecard:hover {
    box-shadow: 6px 0.55px 18px -3px rgba(101, 101, 101, 0.608);
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}

.MainPagecard {
    display: flex;
    flex-direction: column;
    width: min(80vw, 300px);
    padding: 2em;
    border-radius: 12px;
    border: 1px solid var(--surface-black);
    background: #f7f7f7;
    gap: 1em;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.img-git
{
    height: 48px;
    width: 48px; 
    padding: 4px; 
}

.MainPagecard p {
    width: 75%;
    margin: auto;
    opacity: 0.6;
}

@media only screen and (max-width: 520px) {
    nav .search-container {
        display: none;
    }

    #Allcards {
        justify-content: center;
    }
}